/*===============================
=            #button            =
===============================*/

.button {	
  @include font-size(16px);
	
	background: $white;
	border:     none;
	outline:    none;
	padding:    1rem 2rem;

	&:hover {
		background: darken($white, 5%);
	} // hover

	&.-large {
		@include font-size(20px);

		padding: 1.5rem 3rem;
	} // large

	&.-bordered {
		border: 1px solid $medium-gray;
	}
} // button



.button--primary {
	@extend  .button;
	@include font-size(16px);

	background: color(primary);
	color:      $white;

	&:hover {
		background: darken(color(primary), 5%);
	}

	&.-bordered {
		border: 1px;
	} 
} // button--primary